/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-mrt-2017, 15:04:10
    Author     : Robin
*/

.btn {
    width: auto;
    padding: 6px 12px;
    display: inline-block;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
#wrongpassword{
    color:red;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#statusTable {
    display: none;
    white-space: normal;
    word-wrap: break-word;
}

.statusCell {
    word-break: break-all;
}

#settingsModal {
    z-index: 99999;
}
#jsonModal {
    z-index: 99999;
}
body .modal-content {
    width: 560px;
}

.btn-schema{
    width: 60px;
}

.titleLessTd::before {
    content: "";
    width: 0px;
}