

/* Set a style for all buttons */


button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    background-color: #f44336;
}
#logout{
    display: none;  
}
.btn-group button { margin: 0 7px; }


/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.modalcontainer {
    padding: 16px;
    height: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}
#notifications{
    display:none;
}
.notificationmodal{
    font-size: 70%;
}
#treingegevens{
    display:none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto auto auto auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.modal-content-weather{
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 55%;
}

.modal-content-leaflet {
    z-index: 3;
    width: 95%;
    height: 97%;
}

#leafletModalDialog {
    z-index: 3;
}

#leafletcontainerPopup {
    padding-bottom: 30px;
}

.weatherforecast{
    border:1px solid black;
    
}


/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: -15px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.url-close{
    top: 15px;
}
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

#notificationpopover{
    
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
.modal-content {
    background-color: #fefefe;
    margin: auto auto auto auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; 
}}



